/* General styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; /* Light gray background */
}

body {
    text-align: center;
}

input, label {
    font-size: 1.2em;
    padding: 0.5em;
}

/* Header styles */
header {
    background-color: #444; /* Dark background for header */
    color: white;
    padding: 1em;
    border-bottom: 2px solid #333; /* Dark border at the bottom */
}

#title {
    font-size: 2em;
    padding: 0.3em 1em;
    border-radius: 5px;
}

/* Options buttons */
button {
    margin-top: 1em;
    background-color: #87CEEB; /* Sky blue button background */
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6CA6CD; /* Darker sky blue on hover */
}

/* Blurb section */
#blurb {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    text-align: center;
    margin: 2em auto;
    max-width: 600px;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow effect */
}

#visual-title {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

#array-visual {
    margin: 2em;
}

/* SVG and visual content */
.svg-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* Maintains aspect ratio for SVG */
    overflow: hidden;
    background-color: #fff; /* White background for SVG container */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow */
}

.svg-content-responsive {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
}

/* Hover effect for interactive elements */
rect:hover, circle:hover, text.circle:hover, text.rect:hover {
    cursor: pointer;
    opacity: 0.8; /* Semi-transparent on hover */
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
    #blurb {
        width: 90%;
    }
}